//
$title-c: #2d405f;
$blue-c: #3b4ef8;
$blue-h: #0a22f6;
$bg-sec: #466393;
$bg-sec-dk: #2D405F;
$bg-f6: #F6F8FB;
$c-444: #444444;
$grey-c: #aaaaaa;
$eee: #eee;
$icon-c: #EFF2F8;
$h3-h:#4e6fa4;
$line-bg: #AABBD7;
$client-bg: #F6F7FF;
$role-c: #999;
$buy-bg: #ECEEFE;
$border-c: #ced4da;
$social-bg: #E7EAFE;
$copy-bg: #F1F3FF;
$white: #fff;

//
$family: 'Krub', sans-serif;